<div th:fragment="footer">
    <div class="footer__content">
        <div class="footer__above">
            <div class="above__row row">
                <div class="above__item col-2 tix-info">
                    <p class="above__title">CINEPLEX</p>
                    <ul class="above__list">
                        <li class="list__item"><a class="list__link" href="/#">Về chúng tối</a></li>
                        <li class="list__item"><a class="list__link" href="/#">Thoả Thuận Sử Dụng</a></li>
                        <li class="list__item"><a class="list__link" href="/#">Quy Chế Hoạt Động</a></li>
                        <li class="list__item"><a class="list__link" href="/#">Chính Sách Bảo Mật</a></li>
                    </ul>
                </div>
                <div class="above__item col-2 tix-security">
                    <p class="above__title non--title"></p>
                    <ul class="above__list">
                        <li class="list__item">
                            <a class="list__link" href="/#">FAQ</a>
                        </li>
                    </ul>
                </div>
                <!--START - supported payment methods-->
                <div class="above__item img__col col-4 tix-coop">
                    <p class="above__title">PARTNERS</p>
                    <ul class="img__list">
                        <li class="img__item">
                            <a class="img__link" href="/#">
                                <img src="https://i.ibb.co/SdkSzS1/paypal-icon.png" alt="paypal">
                            </a>
                        </li>
                        <!--momo icon-->
                        <li class="img__item">
                            <a class="img__link" href="/#">
                                <img src="https://i.ibb.co/9Vn3fT3/momo-icon.png" alt="momo">
                            </a>
                        </li>
                        <!--vnpay icon-->
                        <li class="img__item">
                            <a class="img__link" href="/#">
                                <img src="https://i.ibb.co/1Rpc0G0/vnpay-icon.png" alt="vnpay">
                            </a>
                        </li>
                    </ul>
                </div>
                <!--END - supported payment methods-->
                <!--START - Social Media-->
                <div class="above__item text-center col-2 tix-social">
                    <p class="above__title">MẠNG XÃ HỘI</p>
                    <ul class="logo__list">
                        <li class="logo__item">
                            <a class="logo__link" href="/#">
                                <img class="img__social"
                                     src="https://i.ibb.co/wMNMjP5/fb-icon.jpg" alt="facebook">
                            </a>
                        </li>
                        <li class="logo__item">
                            <a class="logo__link" href="/#">
                                <img class="img__social"
                                     src="https://i.ibb.co/wCRHZbZ/youtube-icon.jpg" alt="youtube">
                            </a>
                        </li>
                        <li class="logo__item">
                            <a class="logo__link" href="/#">
                                <img class="img__social"
                                     src="https://i.ibb.co/LZdCC0n/instagram-icon.jpg" alt="instagram">
                            </a>
                        </li>

                    </ul>
                </div>
                <!--END - Social Media-->
            </div>
        </div>
        <hr class="gachchan">
        <!--START - web info-->
        <div class="footer__below">
            <div class="below__row justify-content-center align-items-center row">
                <div class="below__left col-md-3 col-xs-12 col-sm-12">
                    <!--funix logo-->
                    <span class="text-logo">CINEPLEX</span>
                </div>
                <div class="below__middle col-md-7 col-sm-12 col-xs-12">
                    <div class="middle__title" style="color: #000000;"><h3>CÔNG TY CỔ PHẦN PHIM MỘT THÀNH VIÊN</h3></div>
                    <span>
                        <span>Hotline: 1900 000 222</span><br>
                        <span>Email:<a class="middle__link" href="/#">support@cineplex.com</a></span>
                    </span>
                </div>
                <div class="below__right col-md-2 col-sm-12 col-xs-12">
                    <div class="right__link">
                        <img class="img-fuild"
                             src="https://file.hstatic.net/1000012850/file/thong-bao-website-voi-bo-cong-thuong_grande.png"
                             alt="hello">
                    </div>
                </div>
            </div>
        </div>
        <!--END - web info-->
    </div>
</div>