<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>THAY ĐỔI MẬT KHẨU</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;display=swap" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" href="logo192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/2.fd207d57.chunk.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.ffa69c8e.chunk.css}" rel="stylesheet"/>
</head>

<body data-new-gr-c-s-check-loaded="14.1073.0" data-gr-ext-installed="">
<div id="root">
    <!--<header lang="vi" th:include="fragments/header :: header"/>-->
    <section class="backgroundBodyUser">
        <div class="container-fluid">
            <div class="loginForm">
                <a aria-current="page" class="img__link active" href="/">
                    <div class="img__logo">
                        <span class="text-logo">Cineplex</span>
                    </div>
                </a>
                <div class="formMessage">THAY ĐỔI MẬT KHẨU</div>
                <div class="formSocial">
                    <!--START - REST PASSWORD form-->
                    <form class="formLogin" th:action="@{/forgot-password/reset-password}" method="post">
                        <!--INPUT - TOKEN receive via email-->
                        <input type="hidden" name="token" th:value="${token}"/>
                        <!--INPUT - NEW PASSWORD-->
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="input"
                                   placeholder="Nhập Mật khẩu mới" required autofocus
                                   pattern=".{6,}" title="Mật khẩu phải có ít nhất 6 ký tự!"/>
                            <span class="text-danger"></span>
                        </div>
                        <!--INPUT - CONFIRM PASSWORD-->
                        <div class="form-group">
                            <!--<input type="password" class="input" placeholder="Xác nhận Mật khẩu mới"
                                   required oninput="checkPasswordMatch(this);"/>-->
                            <input type="password" name="rePassword" id="rePassword" class="input"
                                   placeholder="Xác nhận Mật khẩu mới" required
                                   oninput="checkPasswordMatch(this);"/>
                            <span class="text-danger"></span>
                        </div>
                        <!--BTN - update password-->
                        <div class="form-group">
                            <button class="btnLogin" type="submit">CẬP NHẬT MẬT KHẨU MỚI</button>
                        </div>
                    </form>
                    <!--END - REST PASSWORD form-->
                </div>
            </div>
            <a aria-current="page" class="close__btn active" href="/"></a>
        </div>
    </section>
</div>
<div id="success" class="swal-overlay notify " tabindex="-1"
     th:classappend="${statusResetPassword == true} ? swal-overlay--show-modal : ''">
    <div class="swal-modal" role="dialog" aria-modal="true">
        <div class="swal-icon swal-icon--success">
            <span class="swal-icon--success__line swal-icon--success__line--long"></span>
            <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

            <div class="swal-icon--success__ring"></div>
            <div class="swal-icon--success__hide-corners"></div>
        </div>
        <div class="swal-title" id="text-success" th:text="${messageStatus}"></div>
        <div class="swal-text" style=""></div>
        <div class="swal-footer">
            <div class="swal-button-container">

                <button class="swal-button swal-button--confirm">OK</button>

                <div class="swal-button__loader">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="error--login" class="swal-overlay notify " tabindex="-1"
     th:classappend="${statusResetPassword == false} ?  swal-overlay--show-modal:''">
    <div class="swal-modal" role="dialog" aria-modal="true">
        <div class="swal-icon swal-icon--error">
            <div class="swal-icon--error__x-mark">
                <span class="swal-icon--error__line swal-icon--error__line--left"></span>
                <span class="swal-icon--error__line swal-icon--error__line--right"></span>
            </div>
        </div>
        <div class="swal-title" style="" th:text="${messageStatus}">Tài khoản không tồn tại!</div>
        <div class="swal-footer">
            <div class="swal-button-container">
                <button class="swal-button swal-button--confirm">OK</button>
                <div class="swal-button__loader"></div>
            </div>
        </div>
    </div>
</div>
<!--<footer lang="vi" class="container" th:include="fragments/footer :: footer"/>-->
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<script>!function (e) {
    function r(r) {
        for (var n, a, p = r[0], i = r[1], l = r[2], c = 0, s = []; c < p.length; c++) a = p[c], Object.prototype.hasOwnProperty.call(o, a) && o[a] && s.push(o[a][0]), o[a] = 0;
        for (n in i) Object.prototype.hasOwnProperty.call(i, n) && (e[n] = i[n]);
        for (f && f(r); s.length;) s.shift()();
        return u.push.apply(u, l || []), t()
    }

    function t() {
        for (var e, r = 0; r < u.length; r++) {
            for (var t = u[r], n = !0, p = 1; p < t.length; p++) {
                var i = t[p];
                0 !== o[i] && (n = !1)
            }
            n && (u.splice(r--, 1), e = a(a.s = t[0]))
        }
        return e
    }

    var n = {}, o = {1: 0}, u = [];

    function a(r) {
        if (n[r]) return n[r].exports;
        var t = n[r] = {i: r, l: !1, exports: {}};
        return e[r].call(t.exports, t, t.exports, a), t.l = !0, t.exports
    }

    a.m = e, a.c = n, a.d = function (e, r, t) {
        a.o(e, r) || Object.defineProperty(e, r, {enumerable: !0, get: t})
    }, a.r = function (e) {
        "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {value: "Module"}), Object.defineProperty(e, "__esModule", {value: !0})
    }, a.t = function (e, r) {
        if (1 & r && (e = a(e)), 8 & r) return e;
        if (4 & r && "object" == typeof e && e && e.__esModule) return e;
        var t = Object.create(null);
        if (a.r(t), Object.defineProperty(t, "default", {
            enumerable: !0,
            value: e
        }), 2 & r && "string" != typeof e) for (var n in e) a.d(t, n, function (r) {
            return e[r]
        }.bind(null, n));
        return t
    }, a.n = function (e) {
        var r = e && e.__esModule ? function () {
            return e.default
        } : function () {
            return e
        };
        return a.d(r, "a", r), r
    }, a.o = function (e, r) {
        return Object.prototype.hasOwnProperty.call(e, r)
    }, a.p = "/";
    var p = this.webpackJsonpmoviereactapp = this.webpackJsonpmoviereactapp || [], i = p.push.bind(p);
    p.push = r, p = p.slice();
    for (var l = 0; l < p.length; l++) r(p[l]);
    var f = i;
    t()
}([])</script>
<script>
    $(document).ready(function () {
        $(".notify").click(function (e) {
            $(this).removeClass("swal-overlay--show-modal");
        });

    });
</script>
</body>

<script type="text/javascript">

    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Mật khẩu không trùng khớp!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
</html>